.navbar-container{
display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-top: 20px;
}

.navbar{
    top: 189px;
left: 404px;
width: 56px;
height: 22px;
/* UI Properties */
text-align: left;
font: normal normal medium 18px/22px Montserrat;
letter-spacing: 0px;
color: #AC3B61;
opacity: 1;
text-decoration: none;
}

.navbar:hover{
  color: #f89eaf;
  transform: scale(1.2);
  transition-duration: 0.3s;
  transition-timing-function:ease ;
  
}

.navbar-line{
  margin: 15px;
    height: 0.2vh;
    background-color: #AC3B61;
}
.menu-icon{display: none;}
.mobile{
  display: none;
}

@media  only screen and (min-width:250px) and (max-width:750px){
  .a{
    display: none;
  }
  .mobile{
    display: block;
  }
.navbar-container{
  margin-left: 2.5%;
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 6%;
  left: 0px;
  z-index: 2;
  height: 30%;
  width: 95%;
  background-color: rgb(246, 230, 225);
}

.navbar-line{display: none;}

.navbar:hover{
  color: #ffffff;
  transform: scale(1.2);
  transition-duration: 0.1s;
  transition-timing-function:ease ;
  background-color: #AC3B61;
  width: 80%;
  text-align: center;
  
}
.menu-icon{
  display: inline;
  width: 25px;
  position: absolute;
  top: 4%;
  right: 4%;
  color: brown;
  cursor: pointer;
}
}